<nav class="navbar">
  <a class="navbar-brand" href="/">Online Grocery Store</a>
  <div class="navbar-collapse">
    <div class="navbar-links">
      <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/top-recommended">Top Recommended</a>
      <a class="nav-link" routerLink="/fruits">Fruits</a>
      <a class="nav-link" routerLink="/vegetables">Vegetables</a>
      <a class="nav-link" routerLink="/dairy">Dairy</a>
      <a class="nav-link" routerLink="/snacks">Snacks</a>
      <a class="nav-link" routerLink="/cheese">Cheese</a>
      <a class="nav-link" routerLink="/bread">Bread</a>
      <a class="nav-link" routerLink="/canned-goods">Canned Goods</a>
      <a class="nav-link" routerLink="/cart">
        Cart
        <span class="cart-count">{{ cartCount }}</span>
      </a>
    </div>
  </div>
</nav>
